@tailwind base;
@tailwind components;
@tailwind utilities;

@import "reset.scss";

html,
body,
#__next {
  height: 100%;
  font-family: "Segoe UI", sans-serif;
}

@layer utilities {
  .bg-image {
    background-image: url("../public/images/background.webp");
    background-size: cover;
    position: fixed;
    filter: blur(0.8rem);
    z-index: -1;
    transform: scale(1.5);
  }

  .hoverButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.15rem solid #fff;
    border-radius: 0.2rem;
    background-color: rgba(0, 0, 0, 0.2);
    width: 12rem;
    height: 4rem;
    color: #fff;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      transition: all 0.2s;
      color: #000;
      background-color: #fff;
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
    }
    &:active {
      transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
    }
  }
}
